<section id="settings-box">
	<h1> Sua lista de seguidores</h1>
	<hr>
	<table class="table alert alert-info">
		<tr>
			<td class="icon">
				<span class="fa fa-info-circle"></span>
			</td>
			<td class="text">
				Atualmente, sua lista de seguidores está <strong>{{ config.follower_privacy == 0 ? 'privada' : 'pública' }}</strong>. É possível alterar suas <a href="{{ path.root }}/configuracoes/privacidade" title="Alterar minhas configurações de privacidade">configurações de privacidade</a>. <br/>
				Quando sua lista está privada, apenas seus seguidores tem acesso a essa informação.
			</td>
		</tr>
	</table>
	<hr style="margin-bottom: 20px">
	{% if followers is empty %}
	<p>Você ainda não possui nenhum seguidor.</p>
	{% else %}
		<ul class="default-list">
		{% for user in followers %}
			<li data-user="{{ user.id }}">
				<div class="avatar">
					{% if user.avatar is empty %}
		              {% if user.gender == 0 %}
		                {% set avatar = 'default-male-profile-avatar.png' %}
		              {% else %}
		                {% set avatar = 'default-female-profile-avatar.png' %}
		              {% endif %}
		              <img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="profile-default-avatar">
		            {% else %}
		              <div style="background-image:url('{{ path.root }}/public/avatar/{{ user.id }}/{{ user.avatar }}');"  alt="Foto de {{ user.author }}" title="Foto de {{ user.name }}"></div>
		            {% endif %}
		        </div>
				<h3>
					<a href="{{ path.root }}/feed/usuario/{{ user.login }}" title="Ver perfil de {{ user.name }}">{{ user.name }}</a>
				</h3>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</section>