#related-widget-search {
	width: 320px;
	
	.suggest-box {
		@include border-radius(2px);
		background: #fff;
		padding: 20px;
		margin-bottom: 10px;
	}
	
	h2 {
		font: {
			size: 16px;
		}
		color: #000;
		margin: 0 0 20px;
	}

	ul {
		list-style: none;
	}

	li {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		a { color: $primary-color }

		&:last-child { margin-bottom: 0; }
	}

	.fa {
		font-size: 18px;
		color: $secondary-color;
		margin-right: 10px;
	}

	p { 
		margin: 20px 0 0; 
		> a {
			font: {
				size: 13px;
				weight: bold;
			}
			color: $primary-color;
		}
	}
}