<section id="job-filter">
	<div class="header">
		<h1> {{ route[1] == 'favoritos' ? 'Minhas vagas favoritas' : 'Vagas' }} <span id="title-filter"></span></h1>
		<button class="show-filter">Expandir filtros</button>
	</div>

	<div class="filter-box" style="display:none;">
		<form action="" method="GET">
			<div class="form-box">
				<input type="text" class="form-data" name="title" placeholder="Palava ou texto no título e descrição">
				<input type="text" class="form-data" name="location" placeholder="Localidade"><br/>
			</div>

			<div class="form-box">
				<div style="width: 50%; margin-right: 15px;">
					<h2>Tipo de vaga</h2>
					{% for type in filters.type %}
					<label class="custom-checkbox">{{ type.label }}
						<input type="checkbox" name="type" value="{{ type.value }}" data-label="{{ type.label }}">
						<span class="checkmark"></span>
					</label>
					{% endfor %}					

					<h2>Área de atuação</h2>
					{% for category in filters.category %}
					<label class="custom-checkbox">{{ category.title }}
						<input type="checkbox" name="category" value="{{ category.id }}" data-label="{{ category.title }}"><br/>
						<span class="checkmark"></span>
					</label>
					{% endfor %}					
					
					<h2>Carga Horária</h2>
					{% for workload in filters.workload %}
						<label class="custom-checkbox">Até {{ workload }}h
							<input type="checkbox" name="workload" value="{{ workload }}">
							<span class="checkmark"></span>
						</label>
					{% endfor %}
					
					<h2>Modalidade</h2>
					<label class="custom-radio">À distância
						<input type="radio" name="modality" value="0">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Presencial
						<input type="radio" name="modality" value="0" checked="">
						<span class="checkmark"></span>
					</label>
				</div>
				<div>
					<h2>Turnos</h2>
					{% for shift in filters.shift %}
						<label class="custom-checkbox">{{ shift.label }}
							<input type="checkbox" name="shift" value="{{ shift.value }}" data-label="{{ shift.label }}">
							<span class="checkmark"></span>
						</label>
					{% endfor %}
					
					<h2>Currículo</h2>
					<label class="custom-radio">Todos
						<input type="radio" name="need_cv" value="-1" checked="">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Não exige
						<input type="radio" name="need_cv" value="0">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Exige
						<input type="radio" name="need_cv" value="1">
						<span class="checkmark"></span>
					</label>

					<h2>Histórico Escolar</h2>
					<label class="custom-radio">Todos
						<input type="radio" name="need_historic" value="-1" checked="">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Não exige
						<input type="radio" name="need_historic" value="0">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Exige
						<input type="radio" name="need_historic" value="1">
						<span class="checkmark"></span>
					</label>

					<h2>Benefício PRAE</h2>
					<label class="custom-radio">Todas
						<input type="radio" name="is_prae" value="-1" checked="">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Sem benefício PRAE
						<input type="radio" name="is_prae" value="0">
						<span class="checkmark"></span>
					</label>
					<label class="custom-radio">Com benefício PRAE
						<input type="radio" name="is_prae" value="1">
						<span class="checkmark"></span>
					</label>
				</div>
			</div>
			
			<h2>Remuneração</h2>
			<div class="form-box">
				<input type="text" class="form-data" name="salary_from" placeholder="De R$" value="{{ filters.salary_min }}">
				<input type="text" class="form-data" name="salary_to" placeholder="Até R$" value="{{ filters.salary_max }}">
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<button type="submit">Pesquisar</button>
			</div>
			<div class="col-xs-6 text-right">
				<button class="hide-filter">Esconder filtros</button>
			</div>
		</div>
	</div>

	<div class="filter-list" style="display: none;">
		<span class="list"></span>
		<span>
			<button class="clear-search">Limpar todos</button>
		</span>
	</div>
	<hr class="custom-line">

	<div class="order-limit">
		{% if jobs|length > 0 %}
			<p>Exibindo <span id="jobs-count">{{ jobs|length > 9 ? '9' : jobs|length }}</span> de {{ jobs|length }} vagas encontradas.</p>
		{% else %}
			<p>Nenhuma vaga encontrada</p>
		{% endif %}
		<select name="order_criteria" class="form-data" data-action="{{ path.root }}/vagas/ordenar">
			<option value="1">Mais relevantes</option>
			<option value="2">Melhores avaliados</option>
			<option value="3">Mais recentes</option>
			<option value="4">Mais antigos</option>
		</select>
</section>