<section id="job-info" data-job="{{ job.id }}">
	<article>
		<div id="feedback-context">
			<p class="alert alert-info" style="display:none;">
				<span class="fa fa-star"></span>
				<span class="response-message"></span>
				<span class="close">&times;</span>
			</p>
			<p class="alert alert-warning" style="display:none;">
				<span class="fa fa-warning"></span>
				<span class="response-message"></span>
				<span class="close">&times;</span>
			</p>
		</div>
		<div class="header">
			<h2 class="title">{{ job.title }}</h2>
			<div class="options">
				<a href="#" class="favorite-bookmark {{ job.is_favorite ? 'active' : '' }} favorite-job-icon" title="{{ job.is_favorite ? 'Desfavoritar' : 'Favoritar' }} vaga" data-toggle="tooltip" data-user="{{ job.id_author }}">
					<span class="fa fa-star"></span>
				</a>
				<a href="#" data-toggle="dropdown" class="dropdown-toggle btn-more-options" data-tooltip="true" title="Mais opções">
					<span class="fa fa-ellipsis-v"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" data-path="{{ path.root }}" class="favorite-job" data-user="{{ job.id_author }}" class="favorite-job">{{ job.is_favorite ? 'Desfavoritar' : 'Favoritar' }}</a></li>
					{% if user.id == job.id_author %}
					<li><a href="#" class="edit-job">Editar</a></li>
					<li><a href="#" class="delete-job">Excluir vaga</a></li>
					{% elseif job.apply is not empty and user.id == job.apply_user %}
					<li>
						<a href="{{ path.root }}/vagas/candidatar/" class="apply-job-link" data-job="{{ job.id }}">
							<span class="fa fa-check-circle" style="margin-right:3px"></span>Candidatado
						</a>
					</li>
					{% elseif not job.is_expired %}
					<li><a href="{{ path.root }}/vagas/candidatar/" class="apply-job-link" data-job="{{ job.id }}">Candidatar-se</a></li>
					{% endif %}
				</ul>				
			</div>
		</div>
		<div class="body">
			<div class="location">
				<h3><span class="fa fa-map-marker"></span>
					{% if job.location is not empty %}
						{{ job.location }} 
					{% endif %}

					{% if job.location is not empty and (job.location_city is not empty or job.location_state is not empty) %} - {% endif %}

					{% if job.location_city is not empty %}
						{{ job.location_city }}
					{% endif %}

					{% if job.location_city is not empty and job.location_state is not empty %} , {% endif %}
					
					{% if job.location_state is not empty %}
						{{ job.location_state }}
					{% endif %}
				</h3>
			</div>
			<div class="category">
				{% for category in job.category_list_array %}
				<span class="{{ category.color }}">{{ category.title }}</span>
				{% endfor %}
			</div>
			<div class="author">
				<div class="avatar">
					{% if job.author_avatar is empty %}
						{% if job.author_gender == 0 %}
							{% set avatar = 'default-male-profile-avatar.png' %}
						{% else %}
							{% set avatar = 'default-female-profile-avatar.png' %}
						{% endif %}
						<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ job.author_name }}" title="Foto de {{ job.author_name }}" class="profile-default-avatar">
					{% else %}
					<div style="background-image:url('{{ path.root }}/public/avatar/{{ job.author_id }}/{{ job.author_avatar }}');"  alt="Foto de {{ job.author }}" title="Foto de {{ job.author_name }}"></div>
					{% endif %}
				</div>
				<div class="text">
					<h2><a href="{{ path.root }}/feed/usuario/{{ job.author_login }}" title="Ver perfil {{ job.author_gender == 0 ? 'do autor' : 'da autora' }}" data-toggle="tooltip">{{ job.author_name }}</a></h2>
					<h3>
					{% if job.author_job_title is not empty%}
						{{ job.author_job_title }} em {{ job.author_job_company }}
					{% elseif job.author_education_title %}
						{{ job.author_education_title }} em {{ job.author_education_subtitle }}
					{% else %}
						{{ job.author_born_in_city }}, {{ job.author_born_in_state }}
					{% endif %}
					</h3>
				</div>
			</div>
			<hr>
			<div class="description" style="font-size:14px">
				<div>{{ job.text | raw }}</div>
			</div>
		</div>
		<hr style="border-top-width:1px;margin-top:40px;">
		<div class="footer-job">
			<a href="{{ path.root }}/vagas/edital/{{ job.id }}" target="_blank" title="Ver Edital" data-toggle="tooltip">
				<img src="{{ path.img }}/icons/pdf.png">
			</a>
			<a href="mailto:{{ job.author_email }}" title="Enviar e-mail a {{ job.author_name }}" data-toggle="tooltip">
				<img src="{{ path.img }}/icons/mail.png">
			</a>
			<a href="https://www.ufrgs.br" target="_blank" title="Acessar link externo" data-toggle="tooltip">
				<img src="{{ path.img }}/icons/attachment.png">
			</a>
			<div class="pull-right" style="line-height: 32px">
				<span><small><em>Última edição em {{ job.datetime_publication }}.</em></small></span>
				<span class="img-container">
					<img src="{{ path.img }}/icons/edit.png" title="Última edição" style="margin-left: 3px">
				</span>
			</div>
		</div>
	</article>
</section>