#job-skills {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: $box-shadow;
	
	h2 {
		font-size: 18px;
		color: #2b2b2b;
		text-align: left;
		padding: 0;
		margin-bottom: 30px;
	}

	.list {
		font-size: 0;
		margin: 0 -5px 20px;
		padding: 0 2.5px;
		
		span { 
			@include disp-ib();
			@include colors(transparent, #555);
			@include border-radius(2px);
			@include transition();
			font-size: 14px;
			padding: 6px 10px;
			margin: 0 2.5px;
			border: 1px solid #555;

			&.active {
				@include colors($primary-color !important, #fff !important);
				border: 1px solid $primary-color !important;
			}
			
			.fa { margin-right: 5px; }
		}
	}	

	hr { border-top: 2px solid #e7e7e7; }
}