{% extends '_mail/email-layout.html' %}

{% block content %}
	<p>Olá,</p>
	<p>Recebemos um contato através de nosso portal Web. Seguem dados informados:<p>

	<div style="margin:30px; padding: 15px;background:#fff;border:1px solid #fcfcfc;">
		<p>
			Parabéns! Você foi selecionado por <strong>USER_NAME</strong> na seguinte vaga ofertada:
		</p>
		<p>
			<a href=""><strong>TITULO_VAGA</strong></a>
		</p>
		<hr style='border:0;border-top:1px solid #ddd;margin: 20px 0;' />
		<p>
			<em>Mensagem enviada as {{ time }} de {{ date }}. </em>
		</p>
	</div>

	<p> Obrigado!</p>
{% endblock %}