// Visual identity
$primary-color: #1b98e0;
$secondary-color: #1579b2;
$primary-grad: #029ae7;
$secondary-grad: #02ccfb;
$dark-grad: #0c7fcc;
$light-grad: #0fa9ec;

// Background
$background: #fff;
$background-gray: #f9f9fa;
$background-body: #f2f2f4;
$background-dark: #1b2d53;
$background-darkest: #091020;

// Text
$font-size: 14px;
$text-color: #777;
$text-color-light: #9a9a9a;
$text-color-dark: #262626;
$primary-font: 'Open Sans';
$secondary-font: 'Montserrat';

// Misc
$header-height: 61px;
$transition: all 0.2s ease-in-out;
$box-shadow: 0 2px 10px rgba(#000, .1);

// Grid
$xs: 767px;
$sm: 991px;
$md: 1191px;