<section id="profile-content">
	<section id="basic-info">
		<div class="banner">
			{% if user.getId() == profile.user.id %}
			<button role="button" class="btn-edit">Alterar plano de fundo</button>
			{% else %}
			<button role="button" class="btn-edit follow-user" data-user="{{ profile.user.id }}">{{ profile.follow ? 'Seguindo' : 'Seguir' }}</button>
			{% endif %}
		</div>		
		<div class="top-content">
			<div class="avatar-box {{ user.getId() == profile.user.id ? 'my-profile' : '' }}" 
				{% if user.getId() == profile.user.id %}
					data-toggle="modal"
					data-target="#uploadAvatarModal"
				{% endif %}
			>
				{% if profile.user.avatar is empty %}
					{% if profile.user.gender == 0 %}
						{% set avatar = 'default-male-profile-avatar.png' %}
					{% else %}
						{% set avatar = 'default-female-profile-avatar.png' %}
					{% endif %}
					<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ profile.user.name }}" title="Foto de {{ profile.user.name }}" class="profile-default-avatar">
				{% else %}
				<div style="background-image:url('{{ path.root }}/public/avatar/{{ profile.user.id }}/{{ profile.user.avatar }}');" alt="Foto de {{ profile.user.name }}" title="Foto de {{ profile.user.name }}"></div>
				{% endif %}
			</div>
			
			<div class="name-box">
				<h1>
					{{ profile.user.name }}
					{% if profile.block %}
					<span style="font-size: 18px;margin-left:5px" class="fa fa-lock" title="Usuário bloqueado"></span>
					{% endif %}
				</h1>
				<h2>
					{% if profile.jobs is not empty %}
						{{ profile.jobs[0].title }} <span class="separator">·</span> {{ profile.jobs[0].company }}
					{% elseif profile.educations %}
						{{ profile.educations[0].title }} <span class="separator">·</span> {{ profile.educations[0].subtitle }}
					{% elseif profile.user.live_in_city is not empty and profile.user.live_in_state is not empty %}
						{{ profile.user.live_in_city }}, {{ profile.user.live_in_state }} 
					{% endif %}
				</h2>
			</div>
			<div class="more-options-box">
				<button data-toggle="dropdown" class="dropdown-toggle" data-tooltip="true" title="Ver opções">
					<span class="fa fa-ellipsis-v" ></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-user="{{ profile.user.id }}">{{ profile.block ? 'Desbloquear' : 'Bloquear' }}</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="resume-grid">
			<div class="about-box" style="{{ profile.user.short_bio is empty ? 'border:0;' : ''}};">
				{% if profile.jobs is not empty %}
				<h3>
					<span class="fa fa-fw fa-briefcase"></span>
					{{ profile.jobs[0].title }}
				</h3>
				{% endif %}

				{% if profile.educations is not empty %}
				<h3>
					<span class="fa fa-fw fa-graduation-cap"></span>
					{{ profile.educations[0].title }}
				</h3>
				{% endif %}
				{% if profile.user.live_in_string is not empty %}
				<h3>
					<span class="fa fa-fw fa-map-marker"></span>
					{{ profile.user.live_in_string }}
				</h3>
				{% endif %}
				{% if profile.user.personal_link %}
				<h3>
					<span class="fa fa-fw fa-link"></span>
					<a href="{{ profile.user.getPersonalLink() }}" target="_blank">{{ profile.user.personal_link }}</a>
				</h3>
				{% endif %}
				<h3 id="{{ followers.total > 0 ? 'see-followers' : '' }}">
					<span class="fa fa-fw fa-rss"></span>
					{% if followers.total == 0 %}
						<span class="follower-qty"></span> <span class="follower-text">Nenhum seguidor ainda<span class="follower-text">
					{% elseif followers.total == 1 %}
						<span class="follower-qty">1</span> <span class="follower-text">seguidor</span>
					{% else %}
						<span class="follower-qty">{{ followers.total }}</span> <span class="follower-text">seguidores</span>
					{% endif %}
				</h3>
				<h3>
					<span class="fa fa-fw fa-calendar"></span>
					{{ profile.user.gender == 0 ? 'Ativo' : 'Ativa' }} desde {{ profile.user.date_joined }}
				</h3>
			</div>
			<div class="bio-box">
				{% if user.getId() == profile.user.id %}
					{% if profile.user.short_bio is empty %}
					<p data-empty="true">Você ainda não possui uma descrição.</p>
					<button class="btn-new" data-toggle="modal" data-target="#modalBio" style="margin-top: 15px"><span class="fa fa-plus"></span>Adicionar descrição</button>		
					{% else %}
					<p data-empty="false">{{ profile.user.short_bio }}</p>
					<button class="btn-new" data-toggle="modal" data-target="#modalBio" style="margin-top: 15px"><span class="fa fa-plus"></span>Editar descrição</button>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</section>
	
	<section id="job-experiences" class="box-experience">
		<h2>Experiência profissional</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova experiência</button>
		<hr>
		<form id="job-experiences-form" action="{{ path.root }}/configuracoes/atualizar-experiencia" method='POST' style="display:none">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="company" class="form-data" required="" maxlength="128" placeholder="Empresa">
				</div>
				<div class="col-sm-6">
					<input type="text" name="title" class="form-data" required="" maxlength="128" placeholder="Cargo">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="date_start" class="form-data mask-data" required="" placeholder="Data de início">
				</div>
				<div class="col-sm-6">
					<input type="text" name="date_finish" class="form-data mask-data" placeholder="Data de fim (deixe em branco caso ativo)">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="location_city" class="form-data" required="" placeholder="Em qual cidade você trabalhou">
				</div>
				<div class="col-sm-6">
					<select name="location_state" class="form-data">
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MT">Mato Grosso</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantis</option>
					</select>
				</div>
			</div>
			<textarea name="resume" class="form-data" placeholder="Fale um pouco sobre sua experiência neste trabalho" style="min-height:120px"></textarea>

			<button type="submit" class="btn-add-to-list">Adicionar</button>
			<a href="#" class="hide-form" style="color:#555;margin-left:10px;">Cancelar</a>
			<hr style="margin: 0 auto 20px">
		</form>
		{% endif %}
		
		{% if profile.jobs is not empty %}
		<ul class="{{ user.getId() == profile.user.id ? 'user-profile' : ''}}">
			{% for job in profile.jobs %}
			<li 
				data-id-job="{{ job.id }}"
				data-job-company="{{ job.company }}"
				data-job-title="{{ job.title }}"
				data-job-date_start="{{ job.date_start_formatted }}"
				data-job-date_finish="{{ job.date_finish_formatted }}"
				data-job-location_city="{{ job.location_city }}"
				data-job-location_state="{{ job.location_state }}"
				data-job-resume="{{ job.resume }}"
			>
				<div class="avatar">
					<span class="fa fa-briefcase"></span>
				</div>
				<div class="text">
					<h3>{{ job.company }} </h3>
					<h4>{{ job.title }} <span class="separator">·</span> {{ job.date }} De 2017 até o momento <span class="separator">·</span> {{ job.location_city }} , {{ job.location_state }}</h4>
					</h4>
					
					<p class="item-resume">{{ job.resume }}</p>

					{% if job.resume is not empty %}
						<div class="show-more-item" data-tooltip="true" title="Expandir"><span class="fa fa-plus-circle"></span></div>
					{% endif %}
					{% if user.getId() == profile.user.id %}
					<div class="edit-item" data-tooltip="true" title="Editar"><span class="fa fa-edit"></span></div>
					<div class="remove-item" data-tooltip="true" title="Remover">&times;</div>
					{% endif %}
				</div>
			</li>
			{% endfor %}
		</ul>
		<p class="no-info" style="display:none">Não há experiências para exibir</p>
		{% else %}
		<ul></ul>
		<p class="no-info">Não há experiências para exibir</p>
		{% endif %}
	</section>

	<section id="education-experiences" class="box-experience">
		<h2>Educação</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova educação</button>
		<hr>
		<form id="education-experiences-form" action="{{ path.root }}/configuracoes/atualizar-educacao" method='POST' style="display:none">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="subtitle" class="form-data" required="" maxlength="128" placeholder="Universidade ou colégio">
				</div>
				<div class="col-sm-6">
					<input type="text" name="title" class="form-data" required="" maxlength="128" placeholder="Área, nível de ensino ou turma">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="date_start" class="form-data mask-data" required="" placeholder="Data de início">
				</div>
				<div class="col-sm-6">
					<input type="text" name="date_finish" class="form-data mask-data" placeholder="Data de fim (deixe em branco se ativo)">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="location_city" class="form-data" required="" placeholder="Em qual cidade você estudou">
				</div>
				<div class="col-sm-6">
					<select name="location_state" class="form-data">
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MT">Mato Grosso</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantis</option>
					</select>
				</div>
			</div>
			<textarea name="resume" class="form-data" placeholder="Fale um pouco sobre sua experiência nesta educação" style="min-height:120px"></textarea>

			<button type="submit" class="btn-add-to-list">Adicionar</button>
			<a href="#" class="hide-form" style="color:#555;margin-left:10px;">Cancelar</a>
			<hr style="margin: 0 auto 20px">
		</form>
		{% endif %}

		{% if profile.educations is not empty %}
		<ul class="{{ user.getId() == profile.user.id ? 'user-profile' : ''}}">
			{% for education in profile.educations %}
			<li 
				data-id-education="{{ education.id }}"
				data-education-title="{{ education.title }}"
				data-education-subtitle="{{ education.subtitle }}"
				data-education-date_start="{{ education.date_start_formatted }}"
				data-education-date_finish="{{ education.date_finish_formatted }}"
				data-education-location_city="{{ education.location_city }}"
				data-education-location_state="{{ education.location_state }}"
				data-education-resume="{{ education.resume }}"
			>
				<div class="avatar">
					<span class="fa fa-graduation-cap"></span>
				</div>
				<div class="text">
					<h3>{{ education.title }} </h3>
					<h4>{{ education.subtitle }} <span class="separator">·</span> De {{ education.date_start }} até {{ education.date_finish == '0000-00-00' ? 'o momento' : education.date_finish }} <span class="separator">·</span> {{ education.location_city }}, {{ education.location_state }}</h4>
					</h4>

					<p class="item-resume">{{ education.resume }}</p>
					
					{% if education.resume is not empty %}
					<div class="show-more-item" data-tooltip="true" title="Expandir"><span class="fa fa-plus-circle"></span></div>
					{% endif %}

					{% if user.getId() == profile.user.id %}
					<div class="edit-item" data-tooltip="true" title="Editar"><span class="fa fa-edit"></span></div>
					<div class="remove-item" data-tooltip="true" title="Remover">&times;</div>
					{% endif %}
				</div>
			</li>
			{% endfor %}
		</ul>
		<p class="no-info" style="display:none">Não há informações para exibir</p>
		{% else %}
		<ul></ul>
		<p class="no-info">Não há informações para exibir</p>
		{% endif %}
	</section>

	<section id="skills" class="box-experience">
		<h2>Habilidades profissionais</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova habilidade</button>
		<hr>
		<form id="skills-form" action="{{ path.root }}/configuracoes/atualizar-habilidade" method='POST' style="display:none">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="title" class="form-data" required="" maxlength="128" placeholder="Sua habilidade">

					<select name="level" class="form-data" required="">
						<option value="">Selecione seu nível</option>
						<option value="1">Iniciante</option>
						<option value="2">Amador</option>
						<option value="3">Júnior</option>
						<option value="4">Pleno</option>
						<option value="5">Sênior</option>
					</select>

					<input type="text" name="time" class="form-data" required="" placeholder="Tempo (em anos)">
				</div>
			</div>
			<button type="submit" class="btn-add-to-list">Adicionar</button>
			<a href="#" class="hide-form" style="color:#555;margin-left:10px;">Cancelar</a>
			<hr style="margin: 0 auto 20px">
		</form>
		{% endif %}

		{% if profile.skills is not empty %}
		<ul>
		{% for skill in profile.skills %}
			<li data-id-skill="{{ skill.id }}" data-skill-title=" {{ skill.title }}" data-skill-level="{{ skill.level }}" data-skill-time="{{ skill.time }}">
				<div class="skill-title">
					<h3>{{ skill.title }} </h3>
				</div>
				<div class="text">
					<h4>{{ skill.level_string }} <span class="separator">·</span> {{ skill.time == 0 ? 'Menos de 1 ano' : skill.time ~ ' anos' }}</h4>
				</div>
				
				{% if user.getId() == profile.user.id %}
				<div class="edit-item" data-tooltip="true" title="Editar"><span class="fa fa-edit"></span></div>
				<div class="remove-item" data-tooltip="true" title="Remover">&times;</div>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		<p class="no-info" style="display:none">Não há habilidades para exibir</p>
		{% else %}
		<ul></ul>
		<p class="no-info">Não há habilidades para exibir</p>
		{% endif %}
	</section>

	<section id="languages" class="box-experience">
		<h2>Idiomas</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar novo idioma</button>
		<hr>
		<form id="languages-form" action="{{ path.root }}/configuracoes/atualizar-idioma" method='POST' style="display:none">
			<div class="row">
				<div class="col-sm-6">
					<select name="title" class="form-data" required="">
						<option value="">Selecione seu idioma</option>
						<option value="Português">Português</option>
						<option value="Inglês">Inglês</option>
						<option value="Francês">Francês</option>
						<option value="Alemão">Alemão</option>
						<option value="Espanhol">Espanhol</option>
						<option value="Japonês">Japonês</option>
						<option value="Chinês">Chinês</option>
						<option value="Russo">Russo</option>
						<option value="Coreano">Coreano</option>
						<option value="Turco">Turco</option>
						<option value="Polaco">Polaco</option>
						<option value="Egípcio">Egípcio</option>
						<option value="Ucraniano">Ucraniano</option>
						<option value="Holandês">Holandês</option>
					</select>
				</div>
				<div class="col-sm-6">
					<select name="level" class="form-data" required="">
						<option value="">Selecione seu nível</option>
						<option value="1">Básico</option>
						<option value="2">Intermediário</option>
						<option value="3">Avançado</option>
						<option value="4">Fluente</option>
						<option value="5">Nativo</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn-add-to-list">Adicionar</button>
			<a href="#" class="hide-form" style="color:#555;margin-left:10px;">Cancelar</a>
			<hr style="margin: 0 auto 20px">
		</form>
		{% endif %}

		{% if profile.languages is not empty %}
		<ul>
		{% for language in profile.languages %}
			<li data-id-language="{{ language.id }}" data-language-title="{{ language.title }}" data-language-level="{{ language.level }}">
				<div class="languages-flag">
					<img src="{{ path.img }}/icons/flags/32/{{ language.flag }}.png">
				</div>
				<div class="text">
					<h4>{{ language.title }} <span class="separator">·</span> {{ language.level_str }} </h4>
				</div>
				
				{% if user.getId() == profile.user.id %}
				<div class="edit-item" data-tooltip="true" title="Editar"><span class="fa fa-edit"></span></div>
				<div class="remove-item" data-tooltip="true" title="Remover">&times;</div>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		<p class="no-info" style="display:none">Não há idiomas para exibir</p>

		{% else %}
			<ul></ul>
			<p class="no-info">Não há idiomas para exibir</p>
		{% endif %}
	</section>

	{% if recomendations is empty %}
	<section id="recomendations" class="box-experience">
		<h2>Recomendações</h2>

		{% if profile.user.id == user.id %}
		<p> Você ainda não possui ainda nenhuma recomendação. </p>
		{% else %}
			<p> {{ profile.user.name }} ainda não possui ainda nenhuma recomendação. 
				<a href="#" class="recomendar-usuario" title="Recomendar vaga">Seja o primeiro a {{ profile.user.gender == 0 ? 'recomendá-lo' : 'recomendá-la'}}</a></p>
			<div class="recommend-box" style="display: none">
				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if user.avatar is empty %}
							{% if user.gender == 'masculino' %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="default-avatar">
						{% else %}
						<div style="background-image:url('{{ path.root }}/public/avatar/{{ user.id }}/{{ user.avatar }}');" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="img-responsive"></div>
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ user.login }}" title="Ver perfil de {{ user.name }}">{{ user.name }}</a>
						</h3>
						
						{% if user.getJobTitle() is not empty or user.getEducationTitle() is not empty %}
						<h4 class="user-subtitle">
							{% if user.getJobTitle() is not empty %}
								{{ user.getJobTitle() }}
							{% elseif user.getEducationTitle() %}
								{{ user.getEducationTitle() }}
							{% else %}
								{{ user.getLocation().live_in_string }}
							{% endif %}
						</h4>
						{% endif %}
						<span class="post-time">Público</span>
						<span class="fa post-privacy {{ profile.privacy == 1 ? 'fa-lock' : 'fa-globe' }}"></span>
					</div>
				</div>	
				{% if user_is_blocked_by_me %}
				<p class="alert alert-warning">
					<span class="fa fa-warning" style="margin-right: 5px"></span> Você não pode recomendar {{ profile.name }} enquanto ele estiver em sua <a href="{{ path.root }}/configuracoes/bloqueio" title="Ver lista de usuários bloqueados">lista de usuários bloqueados</a>.
				</p>
				{% else %}
				<form id="formRecomendar" action="{{ path.root }}/feed/recomendar">
					<input type="hidden" value="{{ profile.user.id }}" name="user_id">
					<textarea name="text" class="form-data" placeholder="Por que você recomenda {{ profile.user.name }}?" required=""></textarea>

					<button type="submit" class="add-recomendation">Recomendar</button>
				</form>
				{% endif %}
			</div>
		{% endif %}
	</section>
	{% else %}
		{% if profile.user.id != user.id %}
		<section id="recomendations" class="box-experience">
			<h2>Recomendações</h2>
			<div class="recommend-box">
				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if user.avatar is empty %}
							{% if user.gender == 'masculino' %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="default-avatar">
						{% else %}
						<div style="background-image:url('{{ path.root }}/public/avatar/{{ user.id }}/{{ user.avatar }}');" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}"></div>
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ user.login }}" title="Ver perfil de {{ user.name }}">{{ user.name }}</a>
						</h3>
						
						{% if user.getJobTitle() is not empty or user.getEducationTitle() is not empty %}
						<h4 class="user-subtitle">
							{% if user.getJobTitle() is not empty %}
								{{ user.getJobTitle() }}
							{% elseif user.getEducationTitle() %}
								{{ user.getEducationTitle() }}
							{% else %}
								{{ user.getLocation().live_in_string }}
							{% endif %}
						</h4>
						{% endif %}
						<span class="post-time">Público</span>
						<span class="fa post-privacy {{ profile.privacy == 1 ? 'fa-lock' : 'fa-globe' }}"></span>
					</div>
				</div>	

				{% if user_is_blocked_by_me %}
				<p>
					Você não pode recomendar {{ profile.name }} enquanto ele estiver em sua <a href="{{ path.root }}/configuracoes/bloqueio" title="Ver lista de usuários bloqueados">lista de usuários bloqueados</a>.
				</p>
				{% else %}
				<form id="formRecomendar" action="{{ path.root }}/feed/recomendar">
					<input type="hidden" value="{{ profile.user.id }}" name="user_id">
					<textarea name="text" class="form-data" placeholder="Por que você recomenda {{ profile.user.name }}?" required="">{{ has_recommended.text }}</textarea>
					
					<button type="submit" class="add-recomendation">{{ has_recommended.text == '' ? 'Recomendar' : 'Atualizar' }}</button>
				</form>
				{% endif %}
			</div>
		</section>
		{% endif %}
		{% for recomendation in recomendations %}
			<article class="recomendation-card">
				{% if profile.user.id == user.id and loop.index == 1 %}
				<h2> Recomendações </h2>
				{% endif %}

				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if recomendation.user_avatar is empty %}
							{% if recomendation.user_gender == 0 %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ recomendation.user_name }}" title="Foto de {{ recomendation.user_name }}" class="default-avatar">
						{% else %}
						<div style="background-image:url('{{ path.root }}/public/avatar/{{ recomendation.user_id }}/{{ recomendation.user_avatar }}');" alt="Foto de {{ recomendation.user_name }}" title="Foto de {{ recomendation.username }}"></div>
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ recomendation.user_login }}" title="Ver perfil de {{ recomendation.user_name }}">{{ recomendation.user_name }}</a>
						</h3>
						
						{% if recomendation.user_job_title is not empty or recomendation.user_education_title is not empty %}
						<h4 class="user-subtitle">
							{% if recomendation.user_job_title is not empty %}
								{{ recomendation.user_job_title }}
							{% elseif recomendation.user_education_title %}
								{{ recomendation.user_education_title }}
							{% else %}
								{{ recomendation.user_live_in_city }}, {{ recomendation.user_live_in_state }}
							{% endif %}
						</h4>
						{% endif %}
					</div>
				</div>	
				<div class="recomendation-text">
					{{ recomendation.text|nl2br }}
				</div>		
			</article>	
		{% endfor %}
	{% endif %}
</section>