<section id="profile-content">
	<section id="basic-info">
		<div class="banner">
			{% if user.getId() == profile.user.id %}
			<button role="button" class="btn-edit">Editar perfil</button>
			{% else %}
			<button role="button" class="btn-edit follow-user" data-user="{{ profile.user.id }}">{{ profile.follow ? 'Seguindo' : 'Seguir' }}</button>
			{% endif %}
			
			{% if user.is('adm') and user.getId() != profile.user.id%}
			<button role="button" class="btn-options">Bloquear perfil</button>
			{% endif %}
		</div>		
		<div class="top-content">
			<div class="avatar-box">
				{% if profile.user.avatar is empty %}
					{% if profile.user.gender == 0 %}
						{% set avatar = 'default-male-profile-avatar.png' %}
					{% else %}
						{% set avatar = 'default-female-profile-avatar.png' %}
					{% endif %}
					<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ profile.user.name }}" title="Foto de {{ profile.user.name }}" class="profile-default-avatar">
				{% else %}
				<img src="{{ path.root }}/public/user/{{ profile.user.id }}/{{ profile.user.avatar }}" alt="Foto de {{ profile.user.name }}" title="Foto de {{ profile.user.name }}" class="img-responsive">
				{% endif %}
			</div>
			
			<div class="name-box">
				<h1>
					{{ profile.user.name }}
					{% if profile.block %}
					<span style="font-size: 18px;margin-left:5px" class="fa fa-lock" title="Usuário bloqueado"></span>
					{% endif %}
				</h1>
				<h2>
					{% if profile.jobs is not empty %}
						emprego
						{{ profile.user.getJobTitle() }}
					{% elseif user.getEducationTitle() %}
						educação
						{{ profile.user.getEducationTitle() }}
					{% else %}
						local
						{{ profile.user.getLocation().live_in_string }}
					{% endif %}
				</h2>
			</div>
			<div class="more-options-box">
				<button data-toggle="dropdown" class="dropdown-toggle">
					<span class="fa fa-ellipsis-v" ></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-user="{{ profile.user.id }}">{{ profile.block ? 'Desbloquear' : 'Bloquear' }}</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="resume-grid">
			<div class="about-box">
				{% if profile.jobs is not empty %}
				<h3>
					<span class="fa fa-fw fa-briefcase"></span>
					{{ profile.jobs[0].title }}
				</h3>
				{% endif %}

				{% if profile.educations is not empty %}
				<h3>
					<span class="fa fa-fw fa-graduation-cap"></span>
					{{ profile.educations[0].title }}
				</h3>
				{% endif %}
				{% if profile.user.live_in_string is not empty %}
				<h3>
					<span class="fa fa-fw fa-map-marker"></span>
					{{ profile.user.live_in_string }}
				</h3>
				{% endif %}
				{% if profile.user.personal_link %}
				<h3>
					<span class="fa fa-fw fa-link"></span>
					<a href="{{ profile.user.getPersonalLink() }}" target="_blank">{{ profile.user.personal_link }}</a>
				</h3>
				{% endif %}
				<h3 id="{{ followers.total > 0 ? 'see-followers' : '' }}">
					<span class="fa fa-fw fa-rss"></span>
					{% if followers.total == 0 %}
						<span class="follower-qty"></span> <span class="follower-text">Nenhum seguidor ainda<span class="follower-text">
					{% elseif followers.total == 1 %}
						<span class="follower-qty">1</span> <span class="follower-text">seguidor</span>
					{% else %}
						<span class="follower-qty">{{ followers.total }}</span> <span class="follower-text">seguidores</span>
					{% endif %}
				</h3>
				<h3>
					<span class="fa fa-fw fa-calendar"></span>
					{{ profile.user.gender == 0 ? 'Ativo' : 'Ativa' }} desde {{ profile.user.date_joined }}
				</h3>
			</div>
			<div class="bio-box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</section>
	
	<section id="job-experiences" class="box-experience">
		<h2>Experiência profissional</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova experiência</button>
		<hr>
		{% endif %}
		
		{% if profile.jobs is not empty %}
		<ul>
			{% for job in profile.jobs %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="text">
					<h3>{{ job.company }}UFRGS </h3>
					<h4>{{ job.title }} <span class="separator">·</span> {{ job.date }} De 2017 até o momento <span class="separator">·</span> {{ job.location }} Porto Alegre, RS</h4>
					</h4>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p class="no-info">Não há experiências para exibir</p>
		{% endif %}
	</section>

	<section id="education-experiences" class="box-experience">
		<h2>Educação</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova educação</button>
		<hr>
		{% endif %}

		{% if profile.educations is not empty %}
		<ul>
			{% for education in profile.educations %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="text">
					<h3>{{ education.title }} </h3>
					<h4>{{ education.course }}Ciência da Computação <span class="separator">·</span> {{ education.date }} De 2012 até 2018 <span class="separator">·</span> {{ education.location }} Porto Alegre, RS</h4>
					</h4>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p class="no-info">Não há informações para exibir</p>
		{% endif %}
	</section>

	<section id="skills" class="box-experience">
		<h2>Habilidades profissionais</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar nova habilidade</button>
		{% endif %}

		{% if profile.skills is not empty %}
		<ul>
		{% for skill in profile.skills %}
			<li>
				<div class="skill-title">
					<h3>{{ skill.title }} </h3>
				</div>
				<div class="text">
					<h4>{{ skill.level_string }} <span class="separator">·</span> {{ skill.time }} anos</h4>
				</div>
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p class="no-info">Não há habilidades para exibir</p>
		{% endif %}
	</section>

	<section id="languages" class="box-experience">
		<h2>Idiomas</h2>

		{% if user.getId() == profile.user.id %}
		<button class="btn-new"><span class="fa fa-plus"></span>Adicionar novo idioma</button>
		{% endif %}

		{% if profile.languages is not empty %}
		<ul>
		{% for language in profile.languages %}
			<li>
				<div class="languages-flag">
					<img src="{{ path.img }}/icons/flags/32/{{ language.flag }}.png">
				</div>
				<div class="text">
					<h4>{{ language.title }} <span class="separator">·</span> {{ language.level_str }} </h4>
				</div>
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p class="no-info">Não há idiomas para exibir</p>
		{% endif %}
	</section>

	{% if recomendations is empty %}
	<section id="recomendations" class="box-experience">
		<h2>Recomendações</h2>

		{% if profile.user.id == user.id %}
		<p> Você ainda não possui ainda nenhuma recomendação. </p>
		{% else %}
			<p> {{ profile.user.name }} ainda não possui ainda nenhuma recomendação. 
				<a href="#" class="recomendar-usuario" title="Recomendar vaga">Seja o primeiro a {{ profile.user.gender == 0 ? 'recomendá-lo' : 'recomendá-la'}}</a></p>
			<div class="recommend-box" style="display: none">
				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if user.avatar is empty %}
							{% if user.gender == 'masculino' %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="default-avatar">
						{% else %}
						<img src="{{ path.root }}/public/user/{{ user.id }}/{{ user.avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="img-responsive">
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ user.login }}" title="Ver perfil de {{ user.name }}">{{ user.name }}</a>
						</h3>
						
						{% if user.getJobTitle() is not empty or user.getEducationTitle() is not empty %}
						<h4 class="user-subtitle">
							{% if user.getJobTitle() is not empty %}
								{{ user.getJobTitle() }}
							{% elseif user.getEducationTitle() %}
								{{ user.getEducationTitle() }}
							{% else %}
								{{ user.getLocation().live_in_string }}
							{% endif %}
						</h4>
						{% endif %}
						<span class="post-time">Público</span>
						<span class="fa post-privacy {{ profile.privacy == 1 ? 'fa-lock' : 'fa-globe' }}"></span>
					</div>
				</div>	
				{% if user_is_blocked_by_me %}
				<p class="alert alert-warning">
					<span class="fa fa-warning" style="margin-right: 5px"></span> Você não pode recomendar {{ profile.name }} enquanto ele estiver em sua <a href="{{ path.root }}/configuracoes/bloqueio" title="Ver lista de usuários bloqueados">lista de usuários bloqueados</a>.
				</p>
				{% else %}
				<form id="formRecomendar" action="{{ path.root }}/feed/recomendar">
					<input type="hidden" value="{{ profile.user.id }}" name="user_id">
					<textarea name="text" class="form-data" placeholder="Por que você recomenda {{ profile.user.name }}?" required=""></textarea>

					<button type="submit" class="add-recomendation">Recomendar</button>
				</form>
				{% endif %}
			</div>
		{% endif %}
	</section>
	{% else %}
		{% if profile.user.id != user.id %}
		<section id="recomendations" class="box-experience">
			<h2>Recomendações</h2>
			<div class="recommend-box">
				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if user.avatar is empty %}
							{% if user.gender == 'masculino' %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="default-avatar">
						{% else %}
						<img src="{{ path.root }}/public/user/{{ user.id }}/{{ user.avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="img-responsive">
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ user.login }}" title="Ver perfil de {{ user.name }}">{{ user.name }}</a>
						</h3>
						
						{% if user.getJobTitle() is not empty or user.getEducationTitle() is not empty %}
						<h4 class="user-subtitle">
							{% if user.getJobTitle() is not empty %}
								{{ user.getJobTitle() }}
							{% elseif user.getEducationTitle() %}
								{{ user.getEducationTitle() }}
							{% else %}
								{{ user.getLocation().live_in_string }}
							{% endif %}
						</h4>
						{% endif %}
						<span class="post-time">Público</span>
						<span class="fa post-privacy {{ profile.privacy == 1 ? 'fa-lock' : 'fa-globe' }}"></span>
					</div>
				</div>	

				{% if user_is_blocked_by_me %}
				<p>
					Você não pode recomendar {{ profile.name }} enquanto ele estiver em sua <a href="{{ path.root }}/configuracoes/bloqueio" title="Ver lista de usuários bloqueados">lista de usuários bloqueados</a>.
				</p>
				{% else %}
				<form id="formRecomendar" action="{{ path.root }}/feed/recomendar">
					<input type="hidden" value="{{ profile.user.id }}" name="user_id">
					<textarea name="text" class="form-data" placeholder="Por que você recomenda {{ profile.user.name }}?" required=""></textarea>
					
					<button type="submit" class="add-recomendation">Recomendar</button>
				</form>
				{% endif %}
			</div>
		</section>
		{% endif %}
		{% for recomendation in recomendations %}
			<article class="recomendation-card">
				{% if profile.user.id == user.id and loop.index == 1 %}
				<h2> Recomendações </h2>
				{% endif %}

				<div class="post-header" style="margin-bottom: 10px;">
					<div class="avatar">
						{% if recomendation.user_avatar is empty %}
							{% if recomendation.user_gender == 0 %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
							<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ recomendation.user_name }}" title="Foto de {{ recomendation.user_name }}" class="default-avatar">
						{% else %}
						<img src="{{ path.root }}/public/user/{{ recomendation.userid }}/{{ recomendation.user_avatar }}" alt="Foto de {{ recomendation.user_name }}" title="Foto de {{ recomendation.username }}" class="img-responsive">
						{% endif %}
					</div>
					<div class="user-information">
						<h3 class="user-title">
							<a href="{{ path.root }}/feed/usuario/{{ recomendation.user_login }}" title="Ver perfil de {{ recomendation.user_name }}">{{ recomendation.user_name }}</a>
						</h3>
						
						{% if recomendation.user_job_title is not empty or recomendation.user_education_title is not empty %}
						<h4 class="user-subtitle">
							{% if recomendation.user_job_title is not empty %}
								{{ recomendation.user_job_title }}
							{% elseif recomendation.user_education_title %}
								{{ recomendation.user_education_title }}
							{% else %}
								{{ recomendation.user_live_in_city }}, {{ recomendation.user_live_in_state }}
							{% endif %}
						</h4>
						{% endif %}
					</div>
				</div>	
				<div class="recomendation-text">
					{{ recomendation.text|nl2br }}
				</div>		
			</article>	
		{% endfor %}
	{% endif %}
</section>