{% extends 'layout.html' %}

{% set page_title = profile.user.name %}

{% block main %}
	<section id="profile">
		<div class="container">
			{% include 'feed/_user.html' %}
			{% include 'feed/_related.html' %}
			{% include 'feed/_modal.html' %}

			{% if user.getId() == profile.user.id %}
				{% include 'feed/_modal-avatar.html' %}
				{% include 'feed/_modal-bio.html' %}
				{% include 'feed/_modal-educacao.html' %}
				{% include 'feed/_modal-experiencias.html' %}
				{% include 'feed/_modal-skill.html' %}
				{% include 'feed/_modal-idioma.html' %}
				{% include 'home/_modal-address.html' %}
			{% endif %}
		</div>
	</section>
{% endblock %}

{% block styles %}
	{% if user.getId() == profile.user.id %}
	<link rel="stylesheet" type="text/css" href="{{ path.css }}/vendor/fileinput/fileinput.min.css">
	{% endif %}
{% endblock %}

{% block scripts %}
	{% if user.getId() == profile.user.id %}
	<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/plugins/canvas-to-blob.min.js"></script>
	<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/fileinput.min.js"></script>
	<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/fileinput_locale_pt-BR.js"></script>
	<script type="text/javascript" src="{{ path.js }}/base/avatar.js"></script>
	<script type="text/javascript" src="{{ path.js }}/base/edit-info.js"></script>
	{% endif %}

	<script type="text/javascript" src="{{ path.js }}/base/profile.js"></script>
{% endblock %}