.modal-open .modal {
	padding-right: 0 !important;
}

.modal-content {
	@include border-radius(2px);
	border: 0;
	box-shadow: none;

	.modal-title {
		font: {
			size: 14px;
			weight: bold;
		}
		color: #333;
	}

	.close {
		$size: 32px;
		@include elipse();
		@include size($size, $size);
		@include colors(#fff, #555);
		position: relative;
		top: -4px;
		font: {
			size: 18px;
			weight: lighter;
		}
		text-align: center;
		text-shadow: none;
		line-height: $size;
		border: 0;
		opacity: 1;

		&:hover, &:focus {
			@include colors(#ddd, #333);
			outline: none;
			box-shadow: none;
		}
	}

	.modal-body {
		color: #333;
		padding: 30px 15px;

		p { margin-bottom: 0;}
	}

	.modal-footer {
		a {
			color: $primary-color;

			&:hover { color: $secondary-color; }
			
			~ button { margin-left: 5px }
		}
		button {
			@include colors($primary-color, #fff);
			@include border-radius(2px);
			@include transition();
			padding: 6px 24px; 
			border: 1px solid $primary-color;

			&:hover, &:focus {
				@include colors($secondary-color, #fff);
				border-color: $secondary-color;
			}
		}
	}
}