#job-filter {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;

	.header { 
		display: flex;
		align-items: center;
		margin-bottom: 0;

		button { flex-shrink: 0; }
	}

	h1 {
		font: {
			size: 20px;
		}
		color: #000;
		margin: 0;
		flex-grow: 10;
	}

	button {
		@include colors($primary-color, #fff);
		@include border-radius(2px);
		@include transition();
		padding: 4px 15px;
		border: 1px solid $primary-color;

		&:hover, &:focus, &:active {
			@include colors($secondary-color, #fff);
			border-color: $secondary-color;
		}
	}

	.filter-box {
		padding: 10px;
		margin: 10px 0 20px;
		border: 1px solid #e0e0e0;

		hr { 
			border-top: 1px solid #e0e0e0;
			margin-bottom: 10px;
		}
	}

	h2 {
		font: {
			size: 16px;
			weight: lighter;
		}
		color: #2b2b2b;
		position: relative;

		&:after {
			@include size(40px, 1px);
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			background: $primary-color;
		}
	}

	.form-box {
		display: flex;
		input + input { margin-left: 10px; }
	}

	.filter-list {
		background: #f4f4f4;
		font-size: 13px;
		padding: 6px 7.5px;
		margin: 10px 0 0;

		.item {
			@include disp-ib();
			position: relative;
			padding: 5px 30px 5px 10px;
			margin: 0 2.5px;
			box-shadow: 0 0 2px rgba(#000, .15);
		}

		.title, .value { display: block; }
		.title { font-weight: bold; }

		.remove-item {
			@include va-middle();
			position: absolute;
			right: 5px;
			font: {
				size: 20px;
				weight: lighter;
			}
			cursor: pointer;
		}

		button {
			@include colors(transparent, #2b2b2b);
			text-decoration: underline;
			border: 1px solid transparent;

			&:hover, &:focus, &:active {
				color: #000;
			}
		}
	}

	.custom-line {
		margin: 10px auto;
		border-top: 2px solid #e7e7e7;
	}
}