#timeline {
	flex-grow: 2;
	margin-right: 20px;
	margin-bottom: 40px;
	
	article {
		@include border-radius(2px);
		background: #fff;
		padding: 20px;
		margin-bottom: 10px;
		box-shadow: $box-shadow;
	}

	h2.no-info {
		font: {
			size: 18px;
			weight: bold;
		}
		color: #cacaca;
		margin: 0 0 30px;
	}
	p.no-info {
		a { 
			font-weight: bold;
			color: $primary-color !important;
		}
		margin: 0;
	}

	.likes-count, .comments-count{
		&:hover, &:focus { 
			text-decoration: underline; 
			cursor: pointer;
		}
	}
	.post-options {
		.likes, .comments {
			&:hover, &:focus { 
				text-decoration: underline; 
				cursor: pointer;
			}
		}
	}

	.post-more-options { position: relative; }
	
	.user-liked {
		color: $primary-color;
		font-weight: bold;
	}

	.post-box {
		.jodit_container {
			.jodit_workplace { border: 0; }

			.jodit_workplace .jodit_wysiwyg {
				@include border-radius(2px);
				margin-top: 10px;
				border: 1px solid #d1d5da;
			}
		}
		.jodit_toolbar{
			box-shadow: none;
			border:	1px solid #d1d5da;
			background: #f6f8fa;

			>li {
				// @include size(auto, 40px);
				// line-height: 40px;
			}
			
			>li.jodit_toolbar_btn-separator {
				// display:none;
				// height: 40px;
			}
		}
		.jodit_placeholder {
			padding-top: 20px;
		}

		hr { margin: 10px auto; }

		select {
			@include size(120px, 36px);
			padding: 6px 12px;
		}
		.add-post {
			@include colors($primary-color, #fff);
			@include border-radius(2px);
			@include size(120px, 36px);
			@include transition();
			border: 1px solid $primary-color;

			&:hover, &:focus {
				@include colors($secondary-color, #fff);
				border-color: $secondary-color;
			}
		}
	}

	.comment-area {
		margin-top: 15px;
		position: relative;
		display: none;
		
		input {
			@include border-radius(25px);
			background: #fff;
			border: 0;
			padding-right: 50px;

			&:focus ~ button { color: #777; }
		}

		button {
			position: absolute;
			background: transparent !important;
			top: 5px;
			right: 15px;
			border: 0 !important;
			color: #ccc;

			&:focus, &:hover {
				outline: none;
				box-shadow: none;
				border: 0;
				color: #777;
			}
		}
	}

	.post-list {
		$avatar-size: 24px;
		display:none;
		list-style: none;
		margin-top: 20px;

		li { 
			margin-bottom: 10px;
			position: relative;

			&:last-child { margin: 0; }
		}
		.avatar {
			@include disp-ib();
			@include size($avatar-size, $avatar-size);
			@include elipse();
			background-color: #ddd;
		}
		.text-content {
			@include disp-ib(top);
			@include colors(#fff, #555);
			@include border-radius(25px);
			font-size: 13px;
			width: calc(100% - #{$avatar-size} - 30px);
			padding: 6px 12px;

			a { 
				display: inline;
				font-weight: bold;
				color: #000 !important; 
			}
		}
		.options {
			$size: 28px;
			@include disp-ib();
			@include size($size, $size);
			@include elipse();
			position: absolute;
			right: -10px;
			text-align: center;
			line-height: $size;
			cursor: pointer;
			
			&:hover, &:focus {
				visibility: visible;
				background: rgba(#000, .1);
			}
		}
	}

	@media(max-width: 991px) {
		width: 100%;
		padding-bottom: 20px;
		margin: 0 0 30px;
		border-bottom: 1px solid #d7d7d7;
	}
}