#user-profile-widget {
	@include border-radius(2px);
	background: #fff;
	width: 260px;
	margin-right: 20px;
	padding: 20px;

	h1, h2 { text-align: center; }
	h1 {
		font-size: 16px;
		margin: 0 0 5px;

		a { color: #000 !important; }
	}
	h2 {
		font-size: 14px;
		color: #777;
		margin: 0;
	}

	h3 a { 
		font-weight: bold;
		color: $primary-color;
		
		&:hover { color: $secondary-color; }
	}

	.avatar-box {
		$avatar-size: 128px;
		@include size($avatar-size, $avatar-size);
		@include elipse();
		position: relative;
		display: block;
		background-color: #eee;
		margin: 0 auto 20px;
		overflow: hidden;
		cursor: pointer;

		img { max-width: 100%; }

		&:hover {
			&:before {
				@include colors(rgba(#000, .7), #fff);
				font: normal normal normal 24px/1 FontAwesome;
				content: "\f030";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: ($avatar-size / 2);
				line-height: ($avatar-size / 2);
				text-align: center;
				z-index: 2;
			}
		}

		> div {
			@include bg($avatar-size);
		}
	}
	.default-avatar {
		@include ha-middle();
		position: absolute;
		bottom: -30px;
	}

	h3 {
		font-size: 13px;
		color: #999;

		.fa { 
			font-size: 14px;
			margin-right: 10px; 
		}
	}
}