// Visual identity
$primary-color: #ef7b00;
$secondary-color: #2d3034;

// Background
$background: #fff;
$background-gray: #f5f5f5;
$background-dark: #212326;

// Text
$font-size: 14px;
$text-color: #777;
$text-color-dark: #333;
$primary-font: 'Open Sans';
$secondary-font: 'Montserrat';

// Misc
$transition: all 0.2s ease-in-out;

// Grid
$xs: 767px;
$sm: 991px;
$md: 1191px;