#modalShowFollowers {
	.modal-title {
		margin: 0;
	}

	.default-list {
		list-style: none;

		li {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			padding: 5px 15px;

			&:last-child { margin-bottom: 0; }
		}

		.avatar {
			$avatar-size: 48px;
			@include size($avatar-size, $avatar-size);
			@include elipse();
			display: inline-block;
			background: #ddd;
			margin-right: 10px;
			overflow: hidden;

			img { max-width: 100%; }
		}
	

		.btn-unblock {
			@include colors($primary-color, #fff);
			@include border-radius(2px);
			@include transition();
			display: inline-block;
			font-size: 13px; 
			padding: 2px 15px;
			border: 1px solid $primary-color;

			&:hover {
				@include colors(transparent, $primary-color);
				text-decoration: none;
			}
			&:focus {
				outline: none;
				box-shadow: none;
			}

			&.following {
				@include colors(transparent !important, $primary-color !important);
				text-decoration: none;
			}
		}

		h4 {
			font: {
				size: 14px;
				weight: bold;
			}
			margin: 0 0 5px;
			flex-grow:10;

			a { color: #2b2b2b; }
		}
	} 
}