#profile {
	> .container {
		display: flex;
		align-items: flex-start;
	}	

	@media(max-width:991px) {
		> .container { display: block; }
	}

	#profile-content { flex-grow: 10; }

	.incomplete-profile {
		font-size: 13px;
		padding: 10px 15px;
		margin-bottom: 10px;

		.fa { margin-right: 5px; }

		a { 
			font-weight: bold; 
			color: inherit;
		}

		.close-warning { 
			font-size: 18px;
			position: relative;
			top: -4px;
			cursor: pointer;
			float: right; 
		}
	}
}