#profile-content {
	$banner-size: 180px;

	> section {
		@include border-radius(2px);
		background: #fff;
		padding: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		flex-grow: 2;
		position: relative;
	}

	.banner {
		@include bg($banner-size);
		@include gradient(lighten($primary-color, 25%), #e7e7e7);
		position: relative;
		margin: -20px -20px 15px;
	}

	.btn-edit {
		@include colors($primary-color, #fff);
		@include border-radius(2px);
		@include transition();
		padding: 4px 15px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		border: 1px solid $primary-color;

		&:hover, &:focus, &:active {
			@include colors(lighten($primary-color, 10%), #fff);
			border: 1px solid lighten($primary-color, 10%);
			text-decoration: none;
		}
	}

	.btn-options {
		@include colors(#f4f4f4, #777);
		@include border-radius(2px);
		@include transition();
		padding: 4px 15px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		border: 1px solid #ddd;

		&:hover, &:focus, &:active {
			@include colors(#b21616, #fff);
			border: 1px solid #b21616;
			text-decoration: none;
		}
	}

	.top-content { display: flex; }

	.name-box {
		padding-left: 170px;
		flex-grow: 10;
	}
	h1 {
		font: {
			size: 24px;
			weight: bold;
		}
		color: #000 !important;
		margin: 0;
	}
	h2 {
		font-size: 16px;
		color: #777;
		margin: 10px 0 25px;
	}

	.more-options-box {
		position: relative;
		align-self: flex-start;

		button {
			$size: 28px;
			@include disp-ib();
			@include elipse();
			@include size($size, $size);
			@include colors(#fff, #555);
			font-size: 14px;
			line-height: $size;
			text-align: center;
			cursor: pointer;
			border: 0;

			&:hover, &:focus, &:active { @include colors(#ddd, #333); }
			&:focus { 
				outline: none;
				box-shadow: none; 
			}
		}

		.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { @include colors($secondary-color, #fff); }
	}

	.avatar-box {
		$avatar-size: 160px;
		@include size($avatar-size, $avatar-size);
		@include elipse();
		position: absolute;
		top: $banner-size - ($avatar-size / 2);
		display: block;
		background-color: #eee;
		margin: 0 auto 20px;
		overflow: hidden;
		border: 5px solid #fff;

		img { max-width: 100%; }

		> div {
			@include bg($avatar-size);
		}

		&.my-profile{
			cursor: pointer;

			&:hover {
				&:before {
					@include colors(rgba(#000, .7), #fff);
					font: normal normal normal 24px/1 FontAwesome;
					content: "\f030";
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: ($avatar-size / 2);
					line-height: ($avatar-size / 2);
					text-align: center;
					z-index: 2;
				}
			}
		}
	}
	.profile-default-avatar {
		@include ha-middle();
		position: absolute;
		bottom: -35px;
	}

	h3 {
		font-size: 14px;
		color: #999;

		.fa { 
			font-size: 14px;
			margin-right: 10px; 
		}
	}

	hr {
		margin-bottom: 0;
		line-height: 160%;
	}

	.resume-grid {
		display: flex;
		align-items: stretch;
		margin-top: 15px;
	}
	.about-box {
		width: 320px;
    	flex-shrink: 0;
    	padding-top: 15px;
    	margin-right: 15px;
    	border-right: 1px solid #eee;

    	h3:first-child { margin-top: 0px; }

    	.fa { color: #555; }
	}

	.bio-box {
		flex-grow: 2;
		padding: 10px 20px 10px 10px;

		p {
			text-align: justify;
			line-height: 160%;
		}
	}

	.box-experience {
		h2 {
			font-size: 18px;
			color: #2b2b2b;
			text-align: left;
			padding: 0;
		}

		.btn-new { 
			@include colors(transparent, $primary-color);
			@include transition();
			padding: 4px 15px;
			margin-bottom: 10px;
			border: 1px dashed $primary-color; 

			.fa { margin-right: 5px; }
			
			&:hover, &:active, &:focus {
				@include colors(rgba($primary-color, .1), $primary-color);
			}
		}

		hr {
			border-top: 1px solid #eee;
			margin: 10px 0;
		}

		ul {
			list-style: none;

			> li {
				position: relative;
				display: flex;
				align-items: center;
				padding: 10px 0;
				margin: 0;
				border-bottom: 1px solid #eee;

				&:last-child { border: 0; }
			}
		}

		.avatar {
			$avatar-size: 64px;
			@include size($avatar-size, $avatar-size);
			@include elipse();
			@include colors(#eee, #555);
			display: block;
			margin-right: 10px;
			overflow: hidden;
			line-height: $avatar-size;
			text-align: center;
		    font-size: 24px;
		    
			&.active {
				@include colors($primary-color, #fff);
			}

			img { max-width: 100%; }
		}
		.text {
			flex-grow: 3;

			h3 {
				font: {
					size: 16px;
					weight: bold;
				}
				color: #2b2b2b;
				margin: 0 0 5px;
			}

			h4 {
				font-size: 14px;
				margin: 0;
			}
			.separator { margin: 0 3px; }
		}

		.skill-title {
			h3 {
				@include colors(#fff, $primary-color);
				@include border-radius(2px);
				padding: 4px 15px;
				margin: 0;
				margin-right: 10px;
				border: 1px solid $primary-color;
			}
		}

		.languages-flag {
			margin-right: 10px;
		}
	}
	#skills h4, #languages h4 { font-size: 13px; }

	.no-info { 
		font: {
			size: 18px;
			weight: bold;
		}
		color: #cacaca;
		margin: 0;
	}

	#recomendations {
		a { 
			font-weight: bold;
			color: $primary-color;
		}

		textarea {
			min-height: 160px;
			max-width: 100%;
			min-width: 100%;
			margin-bottom: 5px;
		}

		.recommend-box {
			margin-top: 30px;
		}

		.add-recomendation {
			@include colors($primary-color, #fff);
			@include border-radius(2px);
			@include size(120px, 36px);
			@include transition();
			border: 1px solid $primary-color;

			&:hover, &:focus {
				@include colors($secondary-color, #fff);
				border-color: $secondary-color;
			}
		}
	}

	.recomendation-card {
		background: #fff;
		padding: 20px;
		margin-bottom: 20px;
	}

	#see-followers {
		color: $primary-color;
		cursor: pointer;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.remove-item {
		$size: 32px;
		@include size($size, $size);
		@include va-middle();
		@include elipse();
		@include colors(#fff, #999);
		position: absolute;
		right: 15px;
		font-size: 24px;
		line-height: $size;
		text-align: center;
		cursor: pointer;

		&:hover, &:focus {
			@include colors(#e7e7e7, #000);
		}
	}

	.btn-add-to-list {
		@include colors($primary-color, #fff);
		@include border-radius(2px);
		@include transition();
		padding: 8px 20px;
		margin: -5px 0 10px;
		border: 1px solid $primary-color; 

		.fa { margin-right: 5px; }
		
		&:hover, &:active, &:focus {
			@include colors($secondary-color, #fff);
		}
	}
}