<section id="related-widget">
	{% if related_profiles is not empty %}
	<div class="suggest-box">
		<h2>Talvez você conheça</h2>
		<ul>
			{% for profile in related_profiles %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="user-info">
					<h4><a href="{{ path.root }}/feed/usuario/{{ profile.login }}" title="Ver perfil de {{ profile.name }}">{{ profile.name }}</a></h4>
					<h5>
						{% if profile.job_title is not empty %}
							{{ profile.job_title }}
						{% elseif profile.education_title %}
							{{ profile.education_title }}
						{% else %}
							{{ profile.live_in_city }}, {{ profile.live_in_state }}
						{% endif %}
					</h5>
				</div>
				<div class="follow">
					<a href="" class="btn-follow"> Seguir </a>
				</div>
			</li>
			{% endfor %}
		</ul>
		<p>
			<a href="{{ path.root }}/pesquisar/usuarios" title="Ver todas as sugestões de usuários">Ver todas as sugestões</a>
		</p>
	</div>
	{% endif %}
</section>