<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

		<!-- Titles n Descriptions -->
		<title>{{ page_title }}</title>
		<meta itemprop="name" content="{{ meta_app }}">
		<meta name="author" content="{{ meta_app }}"> 
		<meta name="keywords" content="{{ meta_keywords }}">
		<meta itemprop="image" content="">
		<meta name="description" content="{{ page_description }}">
		<meta itemprop="description" content="{{ page_description }}">

		<!-- Social Media -->
		<meta property="fb:app_id" content="287391924775067" />
		<meta property="og:title" content="{{ meta_app }} - {{ page_title }}" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="{{ page_description }}" />
		<meta property="og:url" content="{{ app.base_url }}{{ app.request_uri }}" />
    	<meta property="og:site_name" content="{{ meta_app }}" />
    	
		<!-- Config -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="robots" content="index,follow" />
		 
		<!-- Icons -->
		<link rel="icon" type="image/x-icon" href="{{ path.img }}/favicon/favicon.ico?v=1" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ path.img }}/favicon/favicon.ico?v=1" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ path.img }}/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ path.img }}/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ path.img }}/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ path.img }}/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ path.img }}/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ path.img }}/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ path.img }}/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ path.img }}/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ path.img }}/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ path.img }}/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ path.img }}/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ path.img }}/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ path.img }}/favicon/favicon.png">
		
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ path.css }}/vendor/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ path.css }}/vendor/jodit.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ path.css }}/style.css" />

		{% block styles %}
		{% endblock %}
		
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ path.css }}/vendor/fontawesome/font-awesome.min.css">
	</head>
	<body>
		<header>
			{% include '_header.html' %}
		</header>
		<main>
			<div id="wrapper">
				{% block main %}
				{% endblock %}
			</div>
			{% include '_sidebar.html' %}
		</main>
		<footer>
			{% include '_footer.html' %}
		</footer>

		<!-- JS -->
		<script type="text/javascript" src="{{ path.js }}/vendor/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{{ path.js }}/vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ path.js }}/vendor/mask.min.js"></script>
		<script type="text/javascript" src="{{ path.js }}/base/admin/jodit.min.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>