#job-result {
	.row {
		display: flex;
		align-items: start;
		margin: 0 -10px;
		flex-wrap: wrap;
	}

	article {
		flex: 0 0 33.3333%;
		margin-bottom: 20px;

		&.hide-count { display: none !important; }
	}	
	.job-card { 
		@include transition();
		background: #fff;
		padding: 15px;
		margin: 0 10px; 
		box-shadow: $box-shadow;

		&:hover {
			box-shadow: 0 2px 15px rgba(#000, .2);
		}
	}

	.alert { 
		font-size: 13px;
		position: relative;
		padding: 5px 25px 5px 10px; 
		margin: 0 0 10px;

		> .fa { margin-right: 7px; }

		> .close { 
			@include va-middle();
			color: inherit;
			position: absolute;
			right: 10px;
			text-shadow: none;
			opacity: .5;

			&:hover { opacity: 1; }
		}
	}

	.header {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	.title {
		font: {
			size: 18px;
		}
		color: #000;
		margin: 0;
		flex-grow: 10;
	}
	.options {
		$size: 28px;
		font-size: 14px;
		
		a {
			@include disp-ib();
			@include elipse();
			@include size($size, $size);
			color: #555;
			line-height: $size;
			text-align: center;
			cursor: pointer;

			&:hover { @include colors(#ddd, #333); }
			&:focus { @include colors($primary-color, #fff !important); }

			&.active { color: $primary-color; }
		}		
	}

	.upper-body { margin: 0 0 20px; }

	.location h3 {
		font-size: 14px;
		color: #999;
		margin: 0 0 20px;
	}
	.category {
		font-size: 0;
		margin: 0 -5px;
		padding: 0 2.5px;
		
		span { 
			@include disp-ib();
			@include border-radius(2px);
			@include transition();
			@include colors(transparent, #777);
			font-size: 13px;
			padding: 4px 8px;
			margin: 0 2.5px;
			border: 1px dashed #999;
			
			&.blue {
				@include colors(rgba($primary-color,0.1), $primary-color);
				border: 1px dashed $primary-color;
			}

			&.red {
				@include colors(rgba(#f44336,0.1), #f44336);
				border: 1px dashed #f44336;
			}

			&.green {
				@include colors(rgba(#4caf50,0.1), #4caf50);
				border: 1px dashed #4caf50;
			}

			&.orange {
				@include colors(rgba(#ff9800,0.1), #ff9800);
				border: 1px dashed #ff9800;
			}

			&.purple {
				@include colors(rgba(#9c27b0,0.1), #9c27b0);
				border: 1px dashed #9c27b0;
			}

			&.pink {
				@include colors(rgba(#e91e63,0.1), #e91e63);
				border: 1px dashed #e91e63;
			}			
		}
	}	
	.description {
		display: -webkit-box;
		-webkit-line-clamp: 3;
  		-webkit-box-orient: vertical;  
		margin: 10px 0 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: justify;
		font-size: 13px;
		min-height: 40px;
	}
	
	.lower-body {
		display: flex;
		align-items: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #e7e7e7;
	}
	.salary {
		font: {
			size: 16px;
			weight: bold;
		}
		color: #2b2b2b;
		width: 50%;
		margin: 0;
	}
	.schedule { 
		font: {
			size: 16px;
			weight: lighter;
		}
		color: #999;
		text-align: right;
		width: 50%;
		margin: 0;

		.fa { margin-right: 5px;}
	}

	.bottom { 
		display: flex;
		margin-top: 10px;	
	}
	button, a.cta {
		@include disp-ib();
		@include transition();
		font-size: 14px;
		width: 50%;
		padding: 6px 15px;
		text: {
			align: center;
			decoration: none !important;
		}

		+ a { margin-left: 3px; }
	}
	.apply {
		@include colors($primary-color, #fff);		
		border: 1px solid $primary-color;

		&:hover, &:active, &:focus {
			background: darken($primary-color, 10%);
			border: 1px solid darken($primary-color, 10%);
		}
	}
	.applied {
		@include colors(#7fb968 !important, #fff !important);		
		border: 1px solid #7fb968 !important;

		.fa { margin-right: 3px; }
		// #579044
	}

	.recommend {
		@include colors(transparent, $primary-color);		
		border: 1px solid $primary-color;	

		&:hover, &:active, &:focus {
			color: darken($primary-color, 10%);
			border: 1px solid darken($primary-color, 10%);
		}
	}

	.no-result-box {
		font: {
			size: 18px;
			weight: bold;
		}
		color: #bcbcbc;
		margin: 15px 0;
	}


	@media(max-width: 991px) {
		padding-top: 20px;
		border-top: 1px solid #d7d7d7;
		
		article { flex: 0 0 50%; }
	}

	@media(max-width: 767px) {
		article { flex: 0 0 100%; }
	}
}	