#menu-sidebar {
	@include transition();
	background: #2b2b2b;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 0;
	overflow-y: auto;
	
	&.opened { width: 340px; }

	ul {
		margin-top: ($header-height + 30px);
		list-style: none;
	}

	li {
		padding: 6px 15px;

		&:hover {
			background: #000;
			a { color: #fff; }
		}
		> a {
			display: block;
			color: #ccc;
			text-decoration: none !important;
		}
	}

	.icon { margin-right: 7px; }
}