<section id="related-widget">
	{% if profiles is not empty %}
	<div class="suggest-box">
		<h2>Aumente seu feed</h2>
		<ul>
			{% for profile in profiles %}
			<li>
				<div class="avatar">
					{% if profile.avatar is empty %}
						{% if profile.gender == 0 %}
							{% set avatar = 'default-male-profile-avatar.png' %}
						{% else %}
							{% set avatar = 'default-female-profile-avatar.png' %}
						{% endif %}
						<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ profile.name }}" title="Foto de {{ profile.name }}" class="profile-default-avatar">
					{% else %}
					<div style="background-image:url('{{ path.root }}/public/avatar/{{ profile.id }}/{{ profile.avatar }}');"  alt="Foto de {{ profile.author }}" title="Foto de {{ profile.author }}"></div>
					{% endif %}
				</div>
				<div class="user-info">
					<h4><a href="{{ path.root }}/feed/usuario/{{ profile.login }}" title="Ver perfil de {{ profile.name }}">{{ profile.name }}</a></h4>
					{% if profile.job_title is not empty or profile.education_title is not empty or (profile.live_in_city is not empty and profile.live_in_state is not empty) %}
					<h5>
						{% if profile.job_title is not empty %}
							{{ profile.job_title }}
						{% elseif profile.education_title %}
							{{ profile.education_title }}
						{% else %}
							{{ profile.live_in_city }}, {{ profile.live_in_state }}
						{% endif %}
					</h5>
					{% endif %}
				</div>
				<div class="follow">
					<button class="btn-follow" data-id="{{ profile.id }}"> Seguir </button>
				</div>
			</li>
			{% endfor %}
		</ul>
		<p>
			<a href="{{ path.root }}/pesquisar/usuarios" title="Ver todas as sugestões de usuários">Ver todas as sugestões</a>
		</p>
	</div>
	{% endif %}
	<div class="suggest-box">
		<h2>Sugestões para você</h2>
		<ul>
			{% for job in jobs %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="user-info">
					<h4><a href="{{ path.root }}/vagas/sobre/{{ job.id }}/{{ job.slug }}">{{ job.title }}</a></h4>
					<h5>{{ job.location is empty ? job.location_city ~ ', ' ~ job.location_state : job.location }}</h5>
				</div>
			</li>
			{% endfor %}
		</ul>
		<p>
			<a href="{{ path.root }}/vagas" title="Ver todas as sugestões de vagas">Ver todas as sugestões</a>
		</p>
	</div>
</section>