<section id="user-profile-widget">
	<div class="avatar-box" data-toggle="modal" data-target="#uploadAvatarModal">
		{% if user.getAvatar() is empty %}
			{% if user.gender == 'masculino' %}
				{% set avatar = 'default-male-profile-avatar.png' %}
			{% else %}
				{% set avatar = 'default-female-profile-avatar.png' %}
			{% endif %}
			<div src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}" class="default-avatar">
		{% else %}
		<div style="background-image:url('{{ path.root }}/public/avatar/{{ user.id }}/{{ user.avatar }}');"  alt="Foto de {{ user.name }}" title="Foto de {{ user.name }}"></div>
		{% endif %}
	</div>
	
	<h1><a href="{{ path.root }}/feed/usuario/{{ user.login }}">{{ user.name }}</a></h1>
	<h2>
		{% if user.getJobTitle() is not empty %}
			{{ user.getJobTitle() }}
		{% elseif user.getEducationTitle() %}
			{{ user.getEducationTitle() }}
		{% else %}
			{{ user.getLocation().live_in_string }}
		{% endif %}
	</h2>
	<hr>
	
	<h3>
		<span class="fa fa-fw fa-map-marker"></span>
		{% if user.getLocation().live_in_string == ', ' %}
			<a href="{{ path.root }}/configuracoes/meu-perfil" title="Definir endereço">Definir meu endereço</a>
		{% else %}
			user.getLocation().live_in_string 
		{% endif %}
	</h3>
	{% if user.getPersonalLink() %}
	<h3>
		<span class="fa fa-fw fa-link"></span>
		<a href="{{ user.getPersonalLink() }}" target="_blank">{{ user.getPersonalLink() }}</a>
	</h3>
	{% endif %}
	<h3>
		<span class="fa fa-fw fa-rss"></span>
		{% if followers.total == 0 %}
			Nenhum seguidor ainda
		{% elseif followers.total == 1 %}
			1 seguidor
		{% else %}
			<a href="{{ path.root }}/configuracoes/seguidores" title="Ver seus seguidores">{{ followers.total }} seguidores</a>
		{% endif %}
	</h3>
	<h3>
		<span class="fa fa-fw fa-calendar"></span>
		{{ user.gender == 'masculino' ? 'Ativo' : 'Ativa' }} desde {{ user.getJoinedDatetime().str }}
	</h3>
</section>