{% extends 'layout.html' %}

{% set page_title = 'Meu Feed | Portal de Vagas' %}

{% block main %}
	<section id="feed">
		<div class="container">
			{% include 'home/_user.html' %}
			{% include 'home/_timeline.html' %}
			{% include 'home/_related.html' %}
			{% include 'home/_modal.html' %}
			{% include 'home/_modal-likes.html' %}
			{% include 'home/_modal-comment.html' %}
			{% include 'home/_modal-avatar.html' %}
			{% include 'home/_modal-follower.html' %}
			{% include 'home/_modal-post.html' %}
			{% include 'home/_modal-address.html' %}
		</div>
	</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path.css }}/vendor/fileinput/fileinput.min.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/plugins/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="{{ path.js }}/vendor/fileinput/fileinput_locale_pt-BR.js"></script>
<script type="text/javascript" src="{{ path.js }}/base/admin/jodit.min.js"></script>
<script type="text/javascript" src="{{ path.js }}/base/follow-user.js"></script>
<script type="text/javascript" src="{{ path.js }}/base/timeline.js"></script>
<script type="text/javascript" src="{{ path.js }}/base/avatar.js"></script>
{% endblock %}