<section id="search-list">
	{% if app.get.search is not empty %}
	<div class="group">
		<h2>Resultados para a pesquisa <strong>{{ app.get.search }}</strong></h2>
		<hr/>
		<div class="filter">
			<ul>
				<li class="{{ app.get.area == '' ? 'active' : '' }}">
					<a href="{{ path.root }}/pesquisar?search={{ app.get.search }}">Tudo</a>
				</li>
				<li class="{{ app.get.area == 'usuario' ? 'active' : '' }}">
					<a href="{{ path.root }}/pesquisar?search={{ app.get.search }}&area=usuario">Pessoas</a>
				</li>
				<li class="{{ app.get.area == 'vaga' ? 'active' : '' }}">
					<a href="{{ path.root }}/pesquisar?search={{ app.get.search }}&area=vaga">Vagas</a>
				</li>
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="group">
		<p class="results">{{ search|length > 0 ? 'Exibindo '~ search|length ~' resultados' : 'Nenhum resultado encontrado' }}</p>
		<ul>
			{% for item in search %}
				{% if item.category == 'job' %}
				<li>
					<span class="circle">
						<span class="fa fa-briefcase"></span>
					</span>
					<div class="text">
						<a href="{{ path.root }}/vagas/sobre/{{ item.id }}/{{ item.slug }}">{{ item.title }}</a>
						<span class="complement">
							{% if item.subtitle1 is not empty %}
								{{ item.subtitle1 }} - 
							{% endif %}

							{{ item.subtitle2 }}, {{ item.subtitle3 }}
						</span>
					</div>
				</li>
				{% else %}
				<li>
					<span class="circle">
						{% if item.avatar is empty %}
							{% if item.gender == 0 %}
								{% set avatar = 'default-male-profile-avatar.png' %}
							{% else %}
								{% set avatar = 'default-female-profile-avatar.png' %}
							{% endif %}
								<img src="{{ path.img }}/profile/{{ avatar }}" alt="Foto de {{ item.name }}" title="Foto de {{ item.name }}" class="profile-default-avatar">
							{% else %}
							
							<div style="background-image:url('{{ path.root }}/public/avatar/{{ item.id }}/{{ item.avatar }}');"  alt="Foto de {{ item.author }}" title="Foto de {{ item.author }}"></div>
						{% endif %}
					</span>
					<div class="text">
						<a href="{{ path.root }}/feed/usuario/{{ item.login }}">{{ item.title }}</a>
						<span class="complement">
							{% if item.subtitle1 is not empty or item.subtitle3 is not empty or (item.subtitle5 is not empty and item.subtitle6 is not empty) %}
							{% if item.subtitle1 is not empty %}
								{{ item.subtitle1 }} - {{ item.subtitle2 }}
							{% elseif item.subtitle3 %}
							{{ item.subtitle3 }} - {{ item.subtitle4 }}
						{% else %}
							{{ item.subtitle5 }}, {{ item.subtitle6 }}
						{% endif %}
					</h5>
					{% endif %}
						</span>
					</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>