<section id="related-widget">
	<div class="suggest-box">
		<h2>Aumente seu feed</h2>
		<ul>
			{% for profile in profiles %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="user-info">
					<h4><a href="{{ path.root }}/feed/usuario/{{ profile.login }}" title="Ver perfil de {{ profile.name }}">{{ profile.name }}</a></h4>
					<h5>
						{% if profile.job_title is not empty %}
							{{ profile.job_title }}
						{% elseif profile.education_title %}
							{{ profile.education_title }}
						{% else %}
							{{ profile.live_in_city }}, {{ profile.live_in_state }}
						{% endif %}
					</h5>
				</div>
				<div class="follow">
					<button class="btn-follow" data-id="{{ profile.id }}"> Seguir </button>
				</div>
			</li>
			{% endfor %}
		</ul>
		<p>
			<a href="{{ path.root }}/pesquisar/usuarios" title="Ver todas as sugestões de usuários">Ver todas as sugestões</a>
		</p>
	</div>
	<div class="suggest-box">
		<h2>Sugestões para você</h2>
		<ul>
			{% for job in jobs %}
			<li>
				<div class="avatar">
					<img src="">
				</div>
				<div class="user-info">
					<h4><a href="{{ path.root }}/vagas/sobre/{{ job.id }}/{{ job.slug }}">{{ job. title }}</a></h4>
					<h5>{{ job.location is empty ? job.location_city ~ ', ' ~ job.location_state : job.location }}</h5>
				</div>
			</li>
			{% endfor %}
		</ul>
		<p>
			<a href="{{ path.root }}/vagas" title="Ver todas as sugestões de vagas">Ver todas as sugestões</a>
		</p>
	</div>
</section>