#job {
	> .container {
		display: flex;
		align-items: flex-start;
	}	

	.see-more {
		text-align: center;
		border-top: 1px solid #e7e7e7;
		margin: 30px 0 0;
		padding: 10px 0;

		a {
			@include transition();
			font: {
				size: 14px;
				weight: bold;
			}
			color: $primary-color;
			
			&:hover, &:focus, &:active { color: $secondary-color; }
		}
	}
}

#job-container { margin-right: 20px; }